.custom-btn {
    color: white;
    transition: all 0.2s;
    border-radius: 0;
    letter-spacing: 0.1rem;
    white-space: nowrap;
    width: fit-content;

    &:hover {
        transform: scale(1.05);
        border-radius: 10px;
    }

}

.orange {
    background-color: #ff6b00 !important;
    color: white !important;

    &:hover,
    &:active {
        color: white !important;
        background-color: #ff7716 !important;
        box-shadow: 0px 0px 20px #ff7716 !important;
    }
}

.white {
    background-color: white !important;
    color: #333 !important;

    &:hover,
    &:active {
        color: #333 !important;
        background-color: white !important;
        box-shadow: 0px 0px 20px white !important;

    }
}

.highlight {
    color: #ff6b00;
    font-weight: bold;
}